body {
    background-color: #48721D;
    margin: 0px;
}

/* nav-bar */

.botao-navbar {
    background: transparent;
    border: transparent;
    color: #FFFAFA;
    font-size: 45px;
    font-family: Dyuthi;
}

.botao-navbar-cep {
    background: transparent;
    border: transparent;
    color: #FFFAFA;
    font-size: 20px;
}

 /* Elementos centrais */

#div-maior-elementos-centrais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#div-menor-elementos-centrais {
    display: grid;
    bottom: 45%;
    align-content: center;
    
}

.titulo {
    color: #FFFAFA;
    font-size: 500%;
    max-height: 20px;
    text-align: center;
    font-family: Dyuthi;
}

.texto {
    color: #FFFAFA;
    font-size: 30px;
    text-align: center;
    max-height: 20px;
    
}

.input {
    height: 60px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    border: transparent;
}


input::placeholder {
    color: #555555;
    font-family: sans-serif;
}

.pesquisar-icone {
    width: 20px;
}

.pesquisar:hover {
    background-color: rgb(72, 114, 29, 0.0);
}

.pesquisar {
    background-color: #6eaf2c;
    color: #FFFFFF;
    font-weight: bold;
    height: 62px;
    font-size: 20px;
    border: solid 1px;
    border: transparent;
}

#como-rastrear {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}

.lista {
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(216,216,216,.68);
    padding: 0.5em 1em 1.5em;
    font-size: 1.2em;
    color: #333;
    list-style-type: none;
    margin-bottom: 1.1em;
    width: 70%;
}

/* HEADER - rodapé*/
.copyright {
    color: black;
}
.icones_footer{
    width: 30px;
    padding-right: 10px;
}

#FOOTER {
    padding: 10px;
    
}
