body {
    background-color: #ffffff;
    margin: 0px;
}


/* teste
border: solid 1px black;
 */

/* nav-bar */

.navBar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    background-color: #6EAF2C;
    
}

.divBotaoNavBar {
    display: flex;
    width: 60%;
}

.botaoNavbar {
    background: transparent;
    border: transparent;
    color: #FFFAFA;
    font-size: 45px;
    font-family: Dyuthi;
}

/* novo pacote */

h2 {
   font-family: Arial, Helvetica, sans-serif;
   color: #333333;
   font-weight: 150;
}

h3 {
    font-size: 30px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputsButoes{
    margin: 1%;
    border: solid 1px black;
    
}

.inputsButoes input {
    font-size: 25px;
}

.inputsButoes button {
    font-size: 25px;
    background-color: #6EAF2C;
    font-weight: bold;
    color: #ffffff;
}

/* Opções */

.divOpcoes ul {
    display: flex;
    justify-content: start;
    padding-left: 1%;
    margin: 20px;
    margin-left: 0;
}

.divOpcoes ul li {
    list-style-type: none;
    
}

.divOpcoes ul li a {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 35px;
    text-decoration: none;
}

