body {
    background-color: #48721D;
    margin: 0px;
}


/* teste
border: solid 1px black;
 */

/* nav-bar */

.navBar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
}

.divBotaoNavBar {
    display: flex;
    width: 60%;
}

.botaoNavbar {
    background: transparent;
    border: transparent;
    color: #FFFAFA;
    font-size: 45px;
    font-family: Dyuthi;
}

/* novo pacote */

h3 {
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputsButoes{
    margin: 1%;
    border: solid 1px black;
    
}

input {
    font-size: 25px;
}

button {
    font-size: 25px;
    background-color: #6EAF2C;
    font-weight: bold;
    color: #ffffff;
}


