body {
    background-color: #ffffff;
    margin: 0px;
}

/* nav-bar */

.navBar {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    background-color: #6EAF2C;
}

#divMaior {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 80%;
    flex-wrap: wrap;
}

#divPesquisar {
    width: 50%;
}


.botaoNavbar {
    background: transparent;
    border: transparent;
    color: #FFFAFA;
    font-size: 45px;
    font-family: Dyuthi;
}

/* Pesquisar pacote */

.textoPesquisar {
    width: 50%;
    margin-left: 15px;
    display: flex;
}

.inputsButoes{
    display: flex;
    
}

.inputsButoes input {
    font-size: 20px;
}

.inputsButoes button {
    font-size: 15px;
    background-color: #6EAF2C;
    font-weight: bold;
    color: #ffffff;
}

.divs {
    width: 50%;
}

#pacote{
    font-size: 30px;
}

/* #situacaoPacote{
    font-size: 40px;
    font-weight: bold;
    color: #6EAF2C;
} */

.imgStatus {
    width: 50px;
}

.statusPacote {
    color: #6EAF2C;
    font-size: 30px;
    font-weight: bold;
    font-family: proxima-nova,Arial,sans-serif;
    margin: 10px;
}

ul{
    padding: 0;
}

li {
    list-style-type: none;
    border-bottom: solid 1px black;
    display: grid;
    margin: 5px;
    padding: 15px;
    
}


/* HEADER - rodapé*/
.copyright {
    color: black;
}
.icones_footer{
    width: 30px;
    padding-right: 10px;
}

#FOOTER {
    padding: 10px;
    
}

@media (max-width: 600px) {
    #divMaior {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 80%;
        flex-wrap: wrap;
    }
}