body {
    background-color: #00FF7F;
}

/* nav-bar */

.botao-navbar {
    background: transparent;
    border: transparent;
    color: #FFFAFA;
}

 /* Elementos centrais */

#div-maior-elementos-centrais {
    display: flex;
    justify-content: center;
}

#div-menor-elementos-centrais {
    position: absolute;
    bottom: 45%;
}

.titulo {
    color: #FFFAFA;
    font-size: 50px;
    max-height: 80px;
    text-align: center;
}

.texto {
    color: #FFFAFA;
    font-size: 30px;
    text-align: center;
}

.input {
    height: 60px;
    width: 400px;
    text-align: center;
    font-size: 20px;
}

input::placeholder {
    color: #555555;
    font-family: sans-serif;
}

.pesquisar-icone {
    width: 20px;
}

.pesquisar {
    background-color: #7FFF00;
    height: 64px;
    font-size: 20px;
    border: solid 1px;
}

/* HEADER - rodapé*/
.copyright {
    color: black;
}
.icones_header{
    width: 30px;
    padding-right: 10px;
}

#HEADER {
    position: absolute;
    bottom: 0;
    padding: 10px;
}
