<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/loginStyle.css">
</head>
<body>

    <h1 id="titulo">PackageTrack</h1>
    
    <div id="divMaior">

        <div id="divMenor">

            <h2 style="text-align: center;">Nova Conta</h2>

            <label for="email" class="label">E-mail</label>
            <input type="text" class="inputs" id="email" style="font-size: 20px;">
            
            <label for="senha" class="label">Senha</label>
            <input type="text" class="inputs" id="senha">

            <div style="text-align: center;">
                <button id="criarConta">Criar conta</button>
                <p>Ainda não possui conta? <a href="" style="color: #6EAF2C;">Registre-se!</a></p>
            </div>
        </div>

        
        

    </div>

</body>

<header id="HEADER">
</header>
</html>