<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes</title>
    <link rel="stylesheet" href="../static/css/pacotesStyle.css">
    <script> src="../static/js/pacotesScript.js" </script>
</head>
<body>

    <!-- navbar -->
    <div class="navBar">
        <div class="divBotaoNavBar"> <button class="botaoNavbar">PackageTrack</button> </div>
    </div>

    <!-- Novo pacote -->

    <div style="display: flex; justify-content: center;">

        <div style="width: 60%;">

            <h3 style="font-size: 24px;">Novo Pacote</h3>
    
            <div class="cadastroPacotes">

                <div>
                    <label for="codigo">Codigo</label>
                    <input type="text" id="codigo">
                </div>

                <div>
                    <label for="nome">Nome</label>
                    <input type="text" id="nome">
                </div>

                <div style="height: 40px; padding-top: 19px;">
                    <button class="botaoCadastrar">Cadastrar</button>
                </div>
                
            </div>

        </div>
        
    </div>

    <div style="border: solid 1px red; margin-top: 20px; display: flex; justify-content: center;">

        <div style="border: solid 1px blueviolet; margin: 10px; width: 60%;"></div>


    </div>

    
</body>
</html>