<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes</title>
    <link rel="stylesheet" href="../static/css/pacotesStyle.css">
    <script> src="../static/js/pacotesScript.js" </script>
</head>
<body>

    <!-- navbar -->
    <div class="navBar">
        <div class="divBotaoNavBar"> <button class="botaoNavbar">PackageTrack</button> </div>
    </div>

    <!-- Novo pacote -->

    <div style="display: flex; flex-direction: column; align-items: center; border: solid 1px yellow;">
        
        <div style="width: 60%; border: solid 1px black; height: 7vh;">
            <h3>Novo Pacote</h3>
        </div>

        <div style="width: 60%; display: flex; border: solid 1px yellow; flex-wrap: wrap;">

            
            <div class="inputsButoes">
                <input type="text" id="codigo" placeholder="Código de Rastreio">
            </div>

            <div class="inputsButoes">
                <input type="text" id="codigo" placeholder="Nome do Pacote">
            </div>

            <div class="inputsButoes">
                <button>Cadastrar</button>
            </div>

        </div>
    </div>
    
</body>
</html>