<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes</title>
    <link rel="stylesheet" href="../static/css/rastreamentoStyle.css">
    <script> src="../static/js/rastreamentoScript.js" </script>
</head>
<body>

    <!-- navbar -->
    <div class="navBar">
        <div class="divBotaoNavBar"> <button class="botaoNavbar">PackageTrack</button> </div>
    </div>

    <!-- Novo pacote -->

    <div style="display: flex; flex-direction: column; align-items: center; width: 80%; border: solid 1px black;">

        <div style="width: 50%; display: inline-flex;  background-color: #f5f5f5; border-radius: 5px; margin: 10px;">

            
            <div class="textoPesquisar">
                <h3>Pesquisar Pacote:</h3>
            </div>

            <div class="inputsButoes">
                <input type="text" id="codigo" placeholder="Nome do Pacote">
                <button>Pesquisar</button>
            </div>

        </div>

        <!-- Pacote -->
        <div class="divs">
            <h2>Pacote</h2>
        </div>

        <!-- Situacao Pacote -->
        <div class="divs">Situacao Pacote</div>

        <hr>

        <div class="divs">
            <!-- Historico do pacote -->
            <div style="text-align: center;">
                <h3>Historico do Pacote</h3>
            </div>
        </div>

        <!-- Atulizaçoes -->
        <div class="divs">
            <ul>
                <li></li>
            </ul>
        </div>



    </div>


    
</body>
</html>