<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes</title>
    <link rel="stylesheet" href="../static/css/rastreamentoStyle.css">
    <script src="../static/js/rastreamentoScript.js"></script>

</head>
<body>

    <!-- navbar -->
    <div class="navBar">
        <div class="divBotaoNavBar">
            <button class="botaoNavbar" onclick="home()">PackageTrack</button>
    </div>
    </div>

    <!-- Novo pacote -->

    <div id="divMaior">

        <div id="divPesquisar">

            <div class="inputsButoes">
                <input type="text" id="inputCodigo" placeholder="Novo Pacote">
                <button onclick="checaCodigo()">Pesquisar</button>
            </div>
                
        </div>

            <!-- Pacote -->
            <div class="divs">
                <h2 id="pacote">pacote</h2>
            </div>

            <!-- Situacao Pacote -->
            <div class="divs">
                <span id="situacaoPacote" ></span>
            </div>

            <hr>

            <div class="divs">
                <!-- Historico do pacote -->
                <div style="text-align: center; font-size: 25px;">
                    <h3>Histórico do Pacote</h3>
                </div>
            </div>

            <!-- Atulizaçoes -->
            <div class="divs">
                <ul id="informacoesPacotes"></ul>
            </div>

    </div>



</body>

<footer>
    <div id="FOOTER">

        <h4 class="copyright">Criado por: Carlos Eduardo</h4>
    <a href="https://facebook.com/cadunokia" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" class="icones_footer"></a>
    <a href="https://linkedin.com/in/carlos-eduardo-704" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" class="icones_footer"></a>
    <a href="https://github.com/carlosEduardo704" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" class="icones_footer"></a>

    </div>
</footer>

</html>