<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes</title>
    <link rel="stylesheet" href="../../static/css/pacotesStyle.css">
    <script> src="../../static/js/pacotesScript.js" </script>
</head>
<body>

    <!-- navbar -->
    <div class="navBar">
        <div class="divBotaoNavBar"> <button class="botaoNavbar">PackageTrack</button> </div>
    </div>

    <!-- Novo pacote -->

    <div style="display: flex; flex-direction: column; align-items: center;">
        
        <div style="width: 60%; height: 7vh;">
            <h3>Novo Pacote</h3>
        </div>

        <div style="width: 60%; display: flex; flex-wrap: wrap; background-color: #f5f5f5;">

            
            <div class="inputsButoes">
                <input type="text" id="codigo" placeholder="Código de Rastreio">
            </div>

            <div class="inputsButoes">
                <input type="text" id="codigo" placeholder="Nome do Pacote">
            </div>

            <div class="inputsButoes">
                <button>Cadastrar</button>
            </div>

        </div>
    </div>


    <div style="border: solid 1px red; margin-top: 20px; display: flex; flex-direction: column; align-items: center;">

        <div style="border: solid 1px blueviolet; width: 60%; ">

            <div style="border: solid 1px yellow; width: 70%; border-radius: 10px; background-color: #6eaf2c;" >

                <div class="divOpcoes">
                    <ul>
                        <li>
                            <a href="" style="border-bottom: solid 5px #f5f5f5;">PENDENTES</a>
                        </li>

                        <li>
                            <a href="">SAÍRAM PARA ENTREGA</a>
                        </li>

                        <li>
                            <a href="">ENTREGUES</a>
                        </li>
                    </ul>
                </div>
            
            
            </div>
        
        
        </div>

        <!-- Quantidade de pacotes -->
        <div style="border: 1px solid blue; margin: 20px; display: flex; flex-direction: row; align-items: center; width: 60%;">

            <div style="border: solid 1px green; width: 50%;">
                <h2>Pacotes <strong style="color: #000000; font-weight: 900;">Entregues</strong> <br>
                    <small>Você tem x objetos entregues.</small>
                </h2>
            </div>

            <div style="width: 50%; display: flex; justify-content: end;">
                <input type="text" placeholder="codigo ou nome" style="font-size: 25px;">
                <button style="font-size: 18px; background-color: #6eaf2c; color: #ffffff; margin-left: 3px;">Pesquisar</button>
            </div>

        </div>

    </div>

    
</body>
</html>